In [ ]:
userIDS = np.array([])

for child_userID in xrootXML1.findall('.//Global/FT_Messages/FT_Message/Max_Latency'):
     userID = child_userID.attrib.get('UserID')
     userIDS = np.append(userIDS, userID)
     #   userIDS.append(child1.attrib.get('UserID'))

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
                    'two' : pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
                    'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})
df

        one       two     three
a  0.890061 -0.656714       NaN
b -0.616637  0.814605 -1.314887
c -0.066480 -0.860918 -0.539226
d       NaN -0.529976 -0.757244

In [9]:
row = df.iloc[1]

In [10]:
type(row)

pandas.core.series.Series

In [11]:
df.sub(row, axis='columns')

        one       two     three
a -1.293738  2.986243       NaN
b  0.000000  0.000000  0.000000
c -1.128280  2.016757  1.605709
d       NaN  1.568270 -0.241071

In [12]:
##############

In [6]:
col = df.iloc[:,0]

In [7]:
col

a    0.890061
b   -0.616637
c   -0.066480
d         NaN
Name: one, dtype: float64

In [10]:
df['one'].div(col, axis='rows')

a    1.0
b    1.0
c    1.0
d    NaN
Name: one, dtype: float64